{% set stats = h.get_site_statistics() %}
<div class="columna-izquierda">
  {% if c.userobj %}
  {% set new_activities = 33 %} {# h.new_activities() #}
  {% set notifications_tooltip = ngettext('Pizarra (%(num)d nuevo item', 'Pizarra (%(num)d nuevos items)',
  new_activities) %}
    <div class="menu_lateral">
    {% block user_panel %}
      {% snippet 'home/snippets/user_panel.html' %}
    {% endblock %}
    </div>
    <div class="espaciador_ckan"></div>
    {% endif %}
    {% block iepnb_stats %}
      {% snippet 'home/snippets/iepnb_stats.html', stats=stats %}
    {% endblock %}
    {% block endpoints %}
      {% snippet 'home/snippets/endpoints.html' %}
    {% endblock %}
    {% block sparql_endpoint %}
      {% snippet 'home/snippets/sparql_endpoint.html' %}
    {% endblock %}
  </div>
</div><!-- End layout__region layout__region--first -->