{# % snippet "snippets/language_selector.html" % -#}
	<footer class="footer py-4 iepnb">
		<div class="container">
			<div class="d-flex justify-content-md-between align-items-md-center">
  {# inicio emulación region/region.html.twig #}
    {# inicio emulación block/block--system-menu-block.html.twig #}
  				<div class="settings-tray-editable block block--iepnb-footer" data-drupal-settingstray="editable">
      {# inicio emulación menu/menu--footer.html.twig }
 					<ul class="nav">
						<li class="nav-item">
							<a href="{{h.iepnb_home()}}/contact" class="nav-link" data-drupal-link-system-path="contact">{{ _('Contacto') }}</a>
						</li>
						<li class="menu-icon menu-icon-8 nav-item">
							<a href="{{h.iepnb_home()}}/" class="nav-link" data-drupal-link-system-path="&lt;front&gt;"> {{ _('Accesibilidad') }}</a>
						</li>
						<li class="menu-icon menu-icon-9 nav-item">
							<a href="{{h.iepnb_home()}}/" class="nav-link" data-drupal-link-system-path="&lt;front&gt;">{{ _('Política de privacidad') }}</a>
						</li>
						<li class="menu-icon menu-icon-10 nav-item">
							<a href="{{h.iepnb_home()}}/" class="nav-link" data-drupal-link-system-path="&lt;front&gt;">{{ _('Política de cookies') }}</a>
						</li>
						<li class="menu-icon menu-icon-11 nav-item">
							<a href="{{h.iepnb_home()}}/" class="nav-link" data-drupal-link-system-path="&lt;front&gt;">{{ _('Aviso legal') }}</a>
						</li>
					</ul>
      { fin emulación menu/menu--footer.html.twig #}
				</div>
    {# fin emulación block/block--system-menu-block.html.twig #}
    {# inicio icono financiación -#}
    <div class="settings-tray-editable block--type-image block block--image block--logofinanciacionue block-block-content block-block-content6080c1c6-7f77-4bcc-aae1-3a534e11a3f2" data-drupal-settingstray="editable">
      <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
        <img src="{{h.iepnb_home()}}/sites/default/files/2023-03/financiacion_UE.png" width="187" height="50" alt="{% trans %}logo financiación UE{% endtrans%}" loading="lazy" typeof="foaf:Image" class="img-fluid">
      </div>
    </div>
    {# fin icono financiación -#}
    
    {#- inicio icono ministerio -#}
    <div class="settings-tray-editable block--type-image block block--image block--logogobierno block-block-content block-block-content227072d1-1b9e-4550-8493-9e1b0b2b6b0f" data-drupal-settingstray="editable">
      <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
        <img src="{{h.iepnb_home()}}/sites/default/files/2023-03/miteco-prtr_1.png" width="538" height="50" alt="Logo MITECO-PRTR" loading="lazy" typeof="foaf:Image" class="img-fluid">
      </div>
    </div>
    {# fin icono ministerio -#}
    
  {# fin emulación region/region.html.twig #}
			</div>
		</div>
	</footer>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
