{% ckan_extends %}

{% block header_wrapper %}{% block header_account %}{%- endblock %}
{%- block header_debug %} {% if g.debug and not g.debug_supress_header %}
        <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
{%- endif %} {% endblock %}
	  <div class="header border-bottom border-lg-3 border-primary iepnb">
		<div class="container">
		  <nav class="navbar navbar-expand-lg justify-content-between navbar-light sticky-top ">
{#- inicio emulación region/region.html.twig -#}
{#- inicio emulación block/block--system-branding-block.html.twig #}
            <div class="settings-tray-editable block--type-image block block--image block--logomiteco block-block-content block-block-contenta5130b59-2e93-48f5-b2a0-0ed596a906af" data-drupal-settingstray="editable">
              <div class="field field--name-field-image field--type-entity-reference field--label-hidden field__item">
                {{ h.iepnb_tag_img_ministerio()|safe }}
                <!-- img src="{{h.iepnb_home()}}/sites/default/files/2023-03/logo_miteco.png" width="233" height="54" alt="logo MITECO" loading="lazy" typeof="foaf:Image" class="img-fluid" -->
              </div>
            </div>
            <a href="{{h.iepnb_home()}}/" class="navbar-brand d-flex align-items-center " aria-label="Inventario español del Patrimonio Natural y la Biodiversidad">
              <img src="{{h.iepnb_home()}}/themes/custom/iepnb/logo.png" width="120" " alt="Inventario español del Patrimonio Natural y la Biodiversidad logo" class="mr-2" />
            </a>
{#- fin emulación block/block--system-branding-block.html.twig -#}
{#- fin emulación region/region.html.twig #}
            <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
{#- inicio emulación region/region.html.twig -#}
{#- inicio emulación block/block--system-menu-block.html.twig #}
              <div class="settings-tray-editable block block--navegacionprincipal" data-drupal-settingstray="editable">
{#- inicio emulación menu/menu--main.html.twig #}
                <ul class="nav navbar-nav">
        {% set barra_menu=h.iepnb_menu(h.lang()) %}
        {%- for entrada in h.iepnb_decode_json(barra_menu) %}
          {% if entrada.below %}
            {% set class_dropdown_li=" dropdown" %}
            {% set class_dropdown_a=" dropdown-bs-toggle" %}
            {% set extra_dropdown_a=' data-bs-toggle="dropdown_" aria-haspopup="true"'|safe %}
          {% endif %}
          {%- if entrada["relative"]=="/nuestros-datos" -%}
            {% set class_menu_active=" active" %}
          {%- endif -%}
            
                  <li class="menu-icon menu-icon-15 nav-item {{class_menu_active}}{{class_dropdown_li}}">
                    <a href='{{ entrada["relative"] }}' title='{{ entrada["title"] }}' class="nav-link{{class_dropdown_a}}"{{extra_dropdown_a}} data-drupal-link-system-path='{{ entrada["uri"] }}'>{{ entrada["title"] }}</a>
                    {% if entrada.below %}
                    <div class="dropdown-menu" aria-expanded="false">
                      {%- for submenu in entrada.below %}
                        {%- if submenu["relative"]=="/catalogo" -%}
                          {% set class_active=" active is_active" %}
                        {%- endif -%}
                      <a href="{{ submenu['relative'] }}" class="dropdown-item{{class_active}}" data-drupal-link-system-path="{{ submenu['uri'] }}">{{ submenu["title"] }}</a>
                      {%- endfor %}
                    </div>
                    {% endif %}
                  </li>
        {%- endfor %}
                </ul>
      {#- fin emulación menu/menu--main.html.twig #}
              </div>
{#- fin emulación block/block--system-menu-block.html.twig -#}
{#- inicio emulación block/block--system-menu-block.html.twig' #}
              <div class="settings-tray-editable block block--menudecuentadeusuario" data-drupal-settingstray="editable">
      {#- inicio emulación menu/menu--account.html.twig'  #}
      {% if not c.user %}
                {% link_for _('Log in'), named_route='user.login', class_='btn btn-main m-2' %}
      {% endif %}
      {#- fin emulación menu/menu--account.html.twig'  #}
              </div>
{#- fin emulación block/block--system-menu-block.html.twig'  -#}
{#- fin emulación region/region.html.twig'  #}
              </div>
            </nav>
          </div>
        </div>
        <div style="height:200px; background-repeat: no-repeat;background-size: cover;background-image:url({{h.url_for_static('/img/cabecera_catalogo.jpg')}}); background-position:0% 75%;" class="layout__region layout__region--content contenedor-titulo">
          <h1>{{_('Catálogo de datos')}}</h1>
	      <div class="linea-titulo">
          </div>
        </div>
{%- endblock %}
