{# Used to insert the home icon into a breadcrumb #}
{% set ns = namespace(found=false) %}
{% set ns.lang='' %}
{% set breadcrumbs = h.iepnb_breadcrumbs(h.lang()) %}
{% set decoded_breadcrumbs = h.iepnb_decode_json(breadcrumbs) %}
<li><a href = "{{ns.lang}}/" aria-label="{{ _('Inicio') }}"><span> {{ _('Inicio') }}</span></a></li>
{% for elemento in decoded_breadcrumbs %}
  {% if elemento.relative|lower == h.iepnb_root_path()|lower %}
    <li><a href="{{ elemento.relative }}{{ns.lang}}" aria-label="{{ _(elemento.description) }}"><span> {{ _(elemento.title) }}</span></a></li>
  {% else %}
    <li><a href="{{ns.lang}}{{ elemento.relative }}" aria-label="{{ _(elemento.description) }}"><span> {{ _(elemento.title) }}</span></a></li>
  {% endif %}
{% endfor %}