{% block publisher_info %}
  {% if pkg.publisher_name %}
  <section class="module module-narrow publisher_info">
    {% block publisher_info_title %}
      <h2 class="module-heading"><i class="fa fa-newspaper-o"></i> {{ _('Publicador') }}</h2>
    {% endblock %}
    {% block publisher_info_nav %}
      <ul class="nav nav-simple">
        <li class="nav-item">
           <a href="{{ h.url_for('dataset.search', publisher_name=pkg.publisher_name) }}" target="_blank"> {{ pkg.publisher_name }}</a>
           {% if pkg.publisher_url %}
              <a href="{{ pkg.publisher_url }}" target="_blank" class="fa fa-external-link"> {{ pkg.publisher_url }}</a>
           {% endif %}
           {% if pkg.publisher_email %}
              <a class="fa fa-envelope-o" href="mailto:{{ pkg.publisher_email }}" target="_blank"> {{ pkg.publisher_email }}</a>
           {% endif %}
           </li>
      </ul>
    {% endblock %}
  </section>
  {% endif %}
{% endblock %}
